<form class="table__form">
  <input type="text" name="search" class="table__input" placeholder="Enter search query..." [(ngModel)]="searchQuery">
  <button class="table__button" (click)="exportToEscel()">
    <img src="../../../assets/icons/excel_icon.svg" alt="Excel"> Export to EXCEL
  </button>
</form>

<table #table class="table">
  <tr>
    <th class="table__title" (click)="setActiveFilter('title')">
      Title
      <span *ngIf="activeFilter[0] === 'title'">{{filterSymbol}}</span>
    </th>
    <th class="table__description" (click)="setActiveFilter('description')">
      Description
      <span *ngIf="activeFilter[0] === 'description'">{{filterSymbol}}</span>
    </th>
    <th class="table__pages" (click)="setActiveFilter('pageCount')">
      Page Count
      <span *ngIf="activeFilter[0] === 'pageCount'">{{filterSymbol}}</span>
    </th>
    <th class="table__date" (click)="setActiveFilter('publishDate')">
      Publish Date
      <span *ngIf="activeFilter[0] === 'publishDate'">{{filterSymbol}}</span>
    </th>
  </tr>

  <tr *ngFor="let book of sortedBookList">
    <td class="table__title">{{book.title}}</td>
    <td class="table__description" [title]="book.description">
      {{book.description}}
    </td>
    <td class="table__pages">{{book.pageCount}}</td>
    <td class="table__date">{{book.publishDate | date}}</td>
  </tr>
  <tr *ngIf="sortedBookList.length === 0">
    <td class="table__no-matches" colspan="4">No matches</td>
  </tr>
</table>