<input type="text" class="table-input" placeholder="Enter search query..." [(ngModel)]="searchQuery">

<table class="table">
  <tr>
    <th class="table__title">Title</th>
    <th class="table__description">Description</th>
    <th class="table__pages">Page Count</th>
    <th class="table__date">Publish Date</th>
  </tr>

  <tr *ngFor="let book of filteredBookList">
    <td class="table__title">{{book.title}}</td>
    <td class="table__description" [title]="book.description">
      {{book.description}}
    </td>
    <td class="table__pages">{{book.pageCount}}</td>
    <td class="table__date">{{book.publishDate | date}}</td>
  </tr>
</table>